
/* 百度地图自动输入提示框 */
.tangram-suggestion-main{
    z-index: 9999;
}
#mapLoading .listLoading{
    min-height: 0;
}
/* 百度可拖拽半径 */
.BMap_vectex_node {
    background-image: url('/static/img/map/drag.png')!important;
    background-repeat:no-repeat;
    background-position: 3px 2px!important;
    line-height: 20px;
    padding-left: 20px;
}
.BMap_vectex_node:first-child{
    display: none;
}
.BMap_vectex{
    width: 70px!important;
    height: 22px!important;
    background-color: #fff;
    border:1px solid #ddd;
    border-radius: 2px;
}
/* 提示框 */
.message .ivu-alert{
    font-size: 14px;
}
.message .ivu-alert-success{
    border:0;
}
/* 半径选择器 */
.mapSelector .ivu-select-single .ivu-select-selection .ivu-select-selected-value{
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    
}
.mapSelector .ivu-select-placeholder{
    font-size: 14px!important;
    height: 30px!important;
    line-height: 30px!important;
}
.mapSelector .ivu-select-selection{
    border:0;
    background-color: #E9E9E9;
    border-radius: 2px;
}
.mapSelector .ivu-select-item{
    font-size: 14px!important;
}
.mapSelector .ivu-select-single .ivu-select-selection{
    height: 30px;
}
.mapSelector .ivu-select-visible .ivu-select-selection{
    border-color: none;
    outline: 0;
    box-shadow:none!important;
}
.mapSelector .ivu-select-dropdown{
    max-height: 202px;
}
/* 地图输入提示图标 */
.tangram-suggestion .route-icon{
    background:url('/static/img/map/suggestion-icon.png') no-repeat 0 -14px!important;
}

@media screen and (max-width: 576px) {
    .ivu-modal-wrap .ivu-modal{
        width: 300px!important;
        margin:10px auto;
    }
}
/* 测距工具 显示转折点及删除图标 */
#allmap img{
    max-width: none;
}
/* 用户 */
#mapUser .user{
    margin-right: 0;
}
